

.pt-20 {
    padding-top: 20px;
}
.pb-130 {
    padding-bottom: 130px;
}
.bg-blue-dark {
    background-color: #014258;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.max-w-1140 {
    max-width: 1140px;
}
.p-15 {
    padding: 15px;
}
.mt-0 {
    margin-top: 0;
}
.mb-16 {
    margin-bottom: 16px;
}
.text-white {
    color: #fff;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.ml--8 {
    margin-left: -8px;
}
.mr--8 {
    margin-right: -8px;
}
.mb--16 {
    margin-bottom: -16px;
}
.flex-basis-33 {
    flex-basis: calc(100% / 3 - 16px);
}
.min-w-240 {
    min-width: 240px;
}
.mr-8 {
    margin-right: 8px;
}
.ml-8 {
    margin-left: 8px;
}
.mb-16 {
    margin-bottom: 16px;
}
.relative {
    position: relative;
}
.p-16 {
    padding: 16px;
}
.border-radius-4 {
    border-radius: 4px;
}
.bg-gray-light {
    background-color: #b0b0b0;
}
.shadow {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.block {
    display: block;
}
.max-w-100 {
    max-width: 100%;
}
.h-auto {
    height: auto;
}
.m-0 {
    margin: 0;
}
.inline-block {
    display: inline-block;
}
.cursor-pointer {
    cursor: pointer;
}
.absolute {
    position: absolute;
}
.bg-white {
    background-color: #f9f9f9;
}
.min-w-160 {
    min-width: 160px;
}
.z-1 {
    z-index: 1;
}
.hidden {
    display: none;
}
.text-black {
    color: black;
}
.p-12-16 {
    padding: 12px 16px;
}
.text-none {
    text-decoration: none;
}
.top-5 {
    top: 5px;
}
.right-5 {
    right: 5px;
}
.p-10-20 {
    padding: 10px 20px;
}

body{
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #010101;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.page-header__logo {
    margin-right: 50px;
}

.logo {
    display: inline-flex;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 10px;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: #fff;
}

.search-box {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.search-box__input,
.search-box__button {
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.search-box__input {
    margin-right: 10px;
    font-size: 14px;
    width: 200px;
}

.search-box__button {
    background-color: white;
    color: #2196f3;
    cursor: pointer;
}

.section--popular-products {
    padding-top: 20px;
    padding-bottom: 130px;
    background-color: #014258;
}
.container--narrow {
    max-width: 1140px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section__heading {
    margin-top: 0;
    margin-bottom: 16px;
    color: #fff;
}

.grid{
    list-style-type: none;
}

.grid--products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -16px;
    margin-top: 0;
}
.grid__item--product {
    flex-basis: calc(100% / 3 - 16px);
    min-width: 240px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
}
.product {
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background-color: #b0b0b0;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.product__image {
    display: block;
    max-width: 100%;
    height: auto;
}
.product__name {
    margin-top: 0;
    margin-bottom: 8px;
}
.product__price {
    margin: 0;
}
.dropdown--product {
    position: relative;
    display: inline-block;
}
.dropdown__trigger {
    cursor: pointer;
}
.dropdown__content--hidden {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
}
.dropdown__item {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
.product__button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}